<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.eduservice.mapper.EduCourseMapper">
    
    <!-- 查询课程发布确认信息 -->
    <select id="getPublishCourseInfo" resultType="com.wang.eduservice.entity.vo.CoursePublishVo">
        SELECT
            ec.`id`,
            ec.`title`,
            ec.`cover`,
            ec.`lesson_num`,
            ec.`price`,
            et.`name` AS teacherName,
            es1.`title` AS subjectLevelOne,
            es2.`title` AS subjectLevelTwo
        FROM
            `edu_course` AS ec
            LEFT OUTER JOIN `edu_course_description` AS ecd ON ec.`id`=ecd.`id`
            LEFT OUTER JOIN `edu_teacher` AS et ON ec.`teacher_id`=et.`id`
            LEFT OUTER JOIN `edu_subject` AS es1 ON ec.`subject_parent_id`=es1.`id`
            LEFT OUTER JOIN `edu_subject` AS es2 ON ec.`subject_id`=es2.`id`
        WHERE ec.`id`=#{courseId};
    </select>

    <!-- 查询前端课程详情信息 -->
    <select id="getWebCourseInfo" resultType="com.wang.eduservice.entity.vo.CourseWebVo">
        SELECT
            ec.`id`,
            ec.`title`,
            ec.`price`,
            ec.`lesson_num`,
            ec.`cover`,
            ec.`buy_count`,
            ec.`view_count`,
            ecd.`description`,
            et.`intro`,
            et.`avatar`,
            et.`id` AS teacherId,
            et.`name` AS teacherName,
            es1.`title` AS subjectLevelOne,
            es2.`title` AS subjectLevelTwo
        FROM
            `edu_course` AS ec
            LEFT OUTER JOIN `edu_course_description` AS ecd ON ec.`id`=ecd.`id`
            LEFT OUTER JOIN `edu_teacher` AS et ON ec.`teacher_id`=et.`id`
            LEFT OUTER JOIN `edu_subject` AS es1 ON ec.`subject_parent_id`=es1.`id`
            LEFT OUTER JOIN `edu_subject` AS es2 ON ec.`subject_id`=es2.`id`
        WHERE
            ec.`id`=#{courseId};
    </select>

</mapper>
