# IntelliJ IDEA
.idea/*
*.iml
.mvn/*

# 后端模块相关
service/service_edu/target/*
service/service_oss/target/*
service/service_vod/target/*
service/service_cms/target/*
service/service_msm/target/*
service/service_ucenter/target/*
service/service_order/target/*
service/service_statistics/target/*
common/common_utils/target/*
common/service_base/target/*
target/*

# 前端模块相关
admin-ui/node_modules/*
