# IntelliJ IDEA
.idea/*
*.iml
.mvn/*

# 后端模块相关
service_cloud/service_acl/target/*
service_cloud/service_edu/target/*
service_cloud/service_oss/target/*
service_cloud/service_vod/target/*
service_cloud/service_cms/target/*
service_cloud/service_msm/target/*
service_cloud/service_ucenter/target/*
service_cloud/service_order/target/*
service_cloud/service_statistics/target/*
service_single/target/*

common/common_utils/target/*
common/service_base/target/*
common/spring_security/target/*

infrastructure/canal_client/target/*
infrastructure/gateway/target/*

target/*


# 前端模块相关
admin-ui/node_modules/*
